[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
black = "==20.8b1"
boto3 = ">=1.16.43"
click = "*"
fastapi = ">=0.65.2"
grpcio = "*"
gunicorn = "*"
httpx = "*"
isort = "*"
mlflow = ">=1.16.0"
mypy = "*"
numpy = ">=1.18.5"
onnx = ">=1.7.0"
onnxruntime = ">=1.4.0"
pillow = ">=8.3.2"
pydantic = ">=1.8.2"
pyyaml = "*"
requests = "*"
scikit-learn = ">=0.24.1"
tensorboard = ">=2.4.1"
tensorflow = ">=2.5.1"
tensorflow-serving-api = "*"
torch = ">=1.7.1"
torchvision = ">=0.8.1"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
fmt = "sh -c 'black --line-length 120 .'"
lint = "black --check --diff --line-length 120 ."
sort = "sh -c 'isort .'"
vet = "mypy ."

[pipenv]
allow_prereleases = true
