[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
isort = "*"
black = "==20.8b1"
numpy = "*"
click = "*"
requests = "*"
tensorflow = "*"
tensorflow-serving-api = "*"
grpcio = "*"
mlflow = "*"
onnx = "*"
onnxruntime = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.8"
