apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{name}}
  namespace: {{name}}
  labels:
    app: {{name}}
spec:
  replicas: 4
  selector:
    matchLabels:
      app: {{name}}
  template:
    metadata:
      labels:
        app: {{name}}
    spec:
      containers:
        - name: {{name}}
          image: shibui/ml-system-in-actions:{{name}}_0.0.1
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          resources:
            limits:
              cpu: 500m
              memory: "300Mi"
            requests:
              cpu: 500m
              memory: "300Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: {{name}}
  namespace: {{name}}
  labels:
    app: {{name}}
spec:
  ports:
    - name: rest
      port: 8000
      protocol: TCP
  selector:
    app: {{name}}

---
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: {{name}}
  namespace: {{name}}
  labels:
    app: {{name}}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{name}}
  minReplicas: 3
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
